<td><%= render "public/posts/static_rate", book: book, post: post %><td>
<td><strong><%= post.customer.name %></strong></td>
<td><%= post.created_at&.strftime('%Y/%m/%d') %></td>
<td class="tags">
<% post.tags.each do |tag| %>
  <%= link_to tag.name, tag_path(tag) %>
<% end %>
</td>
<td class="comment"><%= post.review %></td>
<% if post.persisted? && post.customer == current_customer && post.customer.is_active %>
<td><%= link_to '編集', edit_book_post_path(post.book.isbn, post), class: "btn btn-sm btn-success edit_book_#{post.id}" %></td>
<td><%= link_to '削除', book_post_path(post.book.isbn, post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{post.id}", remote: true %></td>
<% end %>

<td colspan="3">
  <!--コメント投稿-->
  <% if current_customer.present? %>
  <!-- ログインしている場合のみコメント投稿フォームを表示 -->
    <%= render "public/comments/form", post: post %>
  <% end %>
</td>