<div class='container mt-5'>
    <div class='row'>
        <div class='col-md-4 '>
          <h4><strong><%= @customer.name %></strong>さんの会員情報</h4>
        </div>
    

        <div class='col-md-6 offset-md-1'>
             <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col" style="width: 50%"></th>
                      <th scope="col" style="width: 50%"></th>
                    </tr>
                  </thead>
      
                  <tbody>
                      <tr>
                        <td>会員ID</td>
                        <td><%= @customer.id %></td>
                      </tr>
                      <tr>
                        <td>名前</td>
                        <td><%= @customer.name %></td>
                      </tr>
                         <td>出生日</td>
                         <td><%= @customer.birthdate %></td>
                      <tr>
                         <td>性別</td>
                         <td><%= @customer.gender %></td>
                      </tr>
                      <tr>
                         <td>メールアドレス</td>
                         <td><%= @customer.email %></td>
                      </tr>
                      <tr>
                         <td>会員ステータス</td>
                         <td>
                             <% if @customer.is_active == false %>
                                 <strong style="color:darkgray;"><%= "退会" %></strong>
                             <% else %>
                                 <strong style="color:green;"><%= "有効" %></strong>
                             <% end %>
                         </td>
                      </tr>
                      <div class="mt-3">
                        <td><%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn change_button mt-3", style: "margin-right:3em; background-color: #D5CEA3;"%></td>
                        <td> <%= link_to "投稿履歴一覧を見る", admin_books_path, class: "btn mt-3", style: "background-color: #1A120B; color: #E5E5CB;"%></td>
                      </div>
                  </tbody>   
             </table>
        </div>
    </div>
</div>

