<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      　<h4>ログイン</h4>
      　<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table>
            <tr>
              <th class="field">
                <%= f.label :メールアドレス %>
              </th>
              <th>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </th>
            </tr>
            <tr>
              <th class="field">
                <%= f.label :パスワード %>
              </th>
              <th>
                <%= f.password_field :password, autocomplete: "current-password" %>
              </th>
            </tr>
            <tr>
              <th class="action">
                <%= f.submit "ログイン" %>
              </th>
            </tr>
            <tr>
              <th>
                <p>会員登録がお済みでない方</p>
                <%= link_to "こちら",new_customer_registration_path %>から新規登録を行なってください。
              </th>
            </tr>
          </table>
        <% end %>  
    </div>
　</div>
</div>
