<!DOCTYPE html>
<html>
  <head>
    <title>Bookreview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/<%= ENV['KID_CODE'] %>.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
      }

      #wrapper {
        flex: 1;
        background-color: #afeeee
      }
    </style>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div id="wrapper">
    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
